.phpunit.result.cache
drupal/rootfs/var/www/drupal/web/sites/default/settings.php
docker-compose.override.*
backup
drupal/backup
.DS_Store
*.log

tmp/*
!tmp/*/.keep

/.idea

*.port
drupal.sql
drupal.sql.gz
unhealthy.lock

conf/kubeconfigs/ci.yaml
drupal/rootfs/var/www/drupal/phpcs.xml.dist
.env
islandora_demo_objects
islandora_workbench
drupal/rootfs/var/www/drupal/private/
