.phpunit.result.cache
drupal/rootfs/var/www/drupal/web/sites/default/settings.php
docker-compose.override.yml
backup
drupal/backup
.DS_Store
*.log

tmp/*
!tmp/*/.keep

/.idea

*.port
drupal.sql
drupal.sql.gz
unhealthy.lock
