services:
  drupal:
    volumes:
      - ./drupal/rootfs/var/www/drupal/config:/var/www/drupal/config:z,rw,${CONSISTENCY}
  fabricator:
    environment:
      FABRICATOR_DATA_MOUNT: /data
      SHARED_SECRET: ${FABRICATOR_SHARED_SECRET}
      FABRICATOR_DRUPAL_PASSWORD: ${FABRICATOR_DRUPAL_PASSWORD}
    volumes:
      - /mnt/islandora_staging:/data:r
      - /home/runner/etds:/home/runner/etds:r
  github-actions-runner:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    environment:
      GITHUB_RUNNER_TOKEN: ${GITHUB_RUNNER_TOKEN}
      GITHUB_REPO: "https://github.com/lehigh-university-libraries/fabricator"
      LABELS: workbench
    volumes:
      - actions-runner-data:/app:rw
      - /mnt/islandora_staging:/mnt/islandora_staging:ro
      - /home/runner:/home/runner:rw
