services:
  alpaca:
    environment:
      ALPACA_DERIVATIVE_FITS_URL: http://crayfits:8080
      ALPACA_DERIVATIVE_OCR_URL: http://hypercube:8080
      ALPACA_DERIVATIVE_HOMARUS_URL: http://homarus:8080
      ALPACA_DERIVATIVE_HOUDINI_URL: http://houdini:8080
      ALPACA_DERIVATIVE_LIBREOFFICE_URL: http://libreoffice:8080
      ALPACA_DERIVATIVE_WHISPER_URL: http://whisper:8080
      ALPACA_DERIVATIVE_OCRPDF_URL: http://ocrpdf:8080
      ALPACA_DERIVATIVE_HTR_URL: http://ocrpdf:8080
  cantaloupe:
    volumes:
      - cantaloupe-data:/data:Z,rw
  drupal:
    environment:
      LEHIGH_TRANSFORM_SERVICE_URI: "http://transformer:8080"
    volumes:
      - ./drupal/rootfs/var/www/drupal:/var/www/drupal:z,rw,${CONSISTENCY}
  drupal-lehigh:
    environment:
      LEHIGH_TRANSFORM_SERVICE_URI: "http://transformer:8080"
    volumes:
      - ./drupal/rootfs/var/www/drupal:/var/www/drupal:z,rw,${CONSISTENCY}
  transformer:
    image: ghcr.io/lehigh-university-libraries/sentence-transformer:main@sha256:3463cf1178c367079970a8916b2671b0701dc80733126d799033851232723c18
  mariadb:
    ports:
      - 3306:3306
  memcached:
    command: memcached -m 256 -I 5m
  parry:
    volumes:
      - ./conf/parry/scyllaridae.ci.yml:/app/scyllaridae.yml:r
  fits:
    image: islandora/fits:6.0.4@sha256:2f028647347a1785c984cb0a5880f26146ee61f0041661bfe4388b5b8c7195ad
    volumes:
      - ./tmp/fits:/tmp:rw
  crayfits:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-fits:main@sha256:9782c1c50f58e0bb36b341b969fd48aa79f15ae25913393e5d2a00ab34ef5abb
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./tmp/crayfits:/tmp:rw
      - ./certs/rootCA.pem:/app/ca.pem:r
  hls:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-hls:main@sha256:3f5c692f7e3427602ca8c6bd6fb76f74bf313aacb69d1abaf38aab82e50bd075
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./certs/rootCA.pem:/app/ca.pem:r
  homarus:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-ffmpeg:main@sha256:9fa508d61b3a33405d9f3c693e78b4a5b718170a1da24c9286669cf829f11c41
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./tmp/homarus:/tmp:rw
      - ./certs/rootCA.pem:/app/ca.pem:r
  houdini:
    image: islandora/houdini:main
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./tmp/houdini:/tmp:rw
      - ./certs/rootCA.pem:/app/ca.pem:r
  hypercube:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-tesseract:main@sha256:ea75ee7c7ab5cc8f31d55e618d100f8f9b46acbe130915767d61355c5832f7be
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./tmp/hypercube:/tmp:rw
      - ./certs/rootCA.pem:/app/ca.pem:r
  ocrpdf:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-ocrpdf:main@sha256:bdb0c6ba3119f3a42082180bafa304ada02bce557e0e62dd5d85aa29d950ecd1
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
  libreoffice:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-libreoffice:main@sha256:2fdd97905302e66f70d4f5d2804529e548493590b0905b1dd962f2ca8cbcd56d
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./certs/rootCA.pem:/app/ca.pem:r
  coverpage:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-coverpage:main@sha256:1717fcd66dc640bba059386764f8c67151a5861438f6ce68041d900f5088cd71
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./certs/rootCA.pem:/app/ca.pem:r
  mergepdf:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-mergepdf:main@sha256:cea4780e53ce12056580eda436dee0a737c856b0cd7fd278ac0b1663592a8b6e
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
      MAX_THREADS: 3
    volumes:
      - ./certs/rootCA.pem:/app/ca.pem:r
  rollout:
    profiles: [donotstart]
  traefik:
    ports:
      - 8080:8080
