services:
  alpaca:
    environment:
      ALPACA_MAX_REDELIVERIES: 1
      ALPACA_DERIVATIVE_HOUDINI_CONSUMERS: 3
      ALPACA_DERIVATIVE_HOUDINI_URL: http://houdini:8080
      ALPACA_DERIVATIVE_LIBREOFFICE_URL: http://libreoffice:8080
      ALPACA_DERIVATIVE_MERGEPDF_URL: http://mergepdf:8080
      ALPACA_DERIVATIVE_COVERPAGE_URL: http://coverpage:8080
  coverpage:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-coverpage:main@sha256:d4525a8aec217026f25ea570854268ef92f7ff0a6b073e3aadf60fac5a2b16e2
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./certs/rootCA.pem:/app/ca.pem:r
  mergepdf:
    image: islandora/mergepdf:6.3.7@sha256:7934622044b8121a79bdb179f96882e20fb3970b041c0cfc35d73b995f0e79e6
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
      MAX_THREADS: 3
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_PUBLIC_KEY
  libreoffice:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-libreoffice:main@sha256:3c769b1fc091a153290c85ec6954c07caca595e61bbf0bef3b4a75c2bbe6f629
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_PUBLIC_KEY
  houdini:
    image: islandora/houdini:6.3.7@sha256:60966b37106e57aeb487b0374979b3eb10d49dd5766da6bb96aa98f99032443b
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_PUBLIC_KEY
    volumes:
      - ./tmp/houdini:/tmp:rw
  github-actions-runner:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    environment:
      GITHUB_RUNNER_TOKEN: ${GITHUB_RUNNER_TOKEN}
      GITHUB_REPO: "https://github.com/lehigh-university-libraries/isle-preserve"
      LABELS: isle
      KUBECONFIG: /etc/kubeconfigs/ci.yaml
    volumes:
      - actions-runner-data:/app:rw
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/kubeconfigs:/etc/kubeconfigs:r
  gha-runner-updater:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    working_dir: /app
    entrypoint: /bin/sh
    command: -c "while true; do /app/scripts/ci/update-gha.sh; sleep 600; done"
    environment:
      KUBECONFIG: /etc/kubeconfigs/ci.yaml
      KUBE_SVC_ACCOUNT: isle-ci
      KUBE_NAMESPACE: islandora-metadata
      KUBE_CA_CERT_FILE: /run/secrets/KUBE_CA_CERT
      KUBE_SERVER_URL: ${KUBE_SERVER_URL}
    secrets:
      - KUBE_CA_CERT
    volumes:
      - ./:/app
      - /home/rollout/.docker:/root/.docker
      - /home/rollout/.env:/home/rollout/.env
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/kubeconfigs:/etc/kubeconfigs:rw
secrets:
  KUBE_CA_CERT:
    file: ./certs/kube.base64.pem
