---
networks:
  default:

volumes:
  activemq-data: {}
  cantaloupe-data: {}
  drupal-private-files: {}
  drupal-public-files: {}
  drupal-solr-config: {}
  fcrepo-data: {}
  mariadb-data: {}
  solr-data: {}
  xhgui-data: {}
  actions-runner-data: {}

secrets:
  CERT_PUBLIC_KEY:
    file: ./certs/cert.pem
  CERT_PRIVATE_KEY:
    file: ./certs/privkey.pem
  CERT_AUTHORITY:
    file: ./certs/rootCA.pem
  # Production secrets:
  #
  # Unless otherwise specified the following command can be used to generate
  # passwords, wherein:
  # The range passed to grep is the valid characters
  #   - '[!-~]' to include special characters or
  # . - [A-Za-z0-9]'
  # The number passed to head is the length of the password.
  #
  # grep -ao '[A-Za-z0-9]' </dev/urandom | head -32 | tr -d '\n' > ./secrets/PASSWORD
  ACTIVEMQ_PASSWORD:
    file: "./secrets/ACTIVEMQ_PASSWORD"
  ACTIVEMQ_WEB_ADMIN_PASSWORD:
    file: "./secrets/ACTIVEMQ_WEB_ADMIN_PASSWORD"
  ALPACA_JMS_PASSWORD:
    file: "./secrets/ACTIVEMQ_PASSWORD"
  DB_ROOT_PASSWORD:
    file: "./secrets/DB_ROOT_PASSWORD"
  DRUPAL_DEFAULT_ACCOUNT_PASSWORD:
    file: "./secrets/DRUPAL_DEFAULT_ACCOUNT_PASSWORD"
  DRUPAL_DEFAULT_DB_PASSWORD:
    file: "./secrets/DRUPAL_DEFAULT_DB_PASSWORD"
  # The salt should use the following character range: 'A-Za-z0-9-_'.
  # And be 74 characters long.
  DRUPAL_DEFAULT_SALT:
    file: "./secrets/DRUPAL_DEFAULT_SALT"
  FCREPO_DB_PASSWORD:
    file: "./secrets/FCREPO_DB_PASSWORD"
  JWT_ADMIN_TOKEN:
    file: "./secrets/JWT_ADMIN_TOKEN"
  # First generate the private key below.
  # Then generate with openssl
  # openssl rsa -pubout -in ./secrets/JWT_PRIVATE_KEY -out ./secrets/JWT_PUBLIC_KEY &>/dev/null
  JWT_PUBLIC_KEY:
    file: "./secrets/JWT_PUBLIC_KEY"
  # Generate with openssl:
  # openssl genrsa -out ./secrets/JWT_PRIVATE_KEY 2048 &>/dev/null
  JWT_PRIVATE_KEY:
    file: "./secrets/JWT_PRIVATE_KEY"
  UID:
    file: "./secrets/UID"
services:
  alpaca:
    image: islandora/alpaca:6.3.5@sha256:d7a5163d0c6ade08ef01562967026007706784c96e346d226c0eac5c8fa8a486
    environment:
      ALPACA_MAX_REDELIVERIES: 2
      ALPACA_TRIPLESTORE_INDEXER_ENABLED: false
      ALPACA_DERIVATIVE_FITS_CONSUMERS: 3
      ALPACA_DERIVATIVE_FITS_URL: https://isle-microservices.cc.lehigh.edu/crayfits
      ALPACA_DERIVATIVE_OCR_CONSUMERS: 3
      ALPACA_DERIVATIVE_OCR_URL: https://isle-microservices.cc.lehigh.edu/hypercube
      ALPACA_DERIVATIVE_HOMARUS_CONSUMERS: 3
      ALPACA_DERIVATIVE_HOMARUS_URL: https://isle-microservices.cc.lehigh.edu/homarus
      ALPACA_DERIVATIVE_HOUDINI_CONSUMERS: 3
      ALPACA_DERIVATIVE_HOUDINI_URL: https://isle-microservices.cc.lehigh.edu/houdini
      ALPACA_DERIVATIVE_LIBREOFFICE_URL: https://isle-microservices.cc.lehigh.edu/libreoffice
      ALPACA_DERIVATIVE_WHISPER_URL: https://isle-microservices.cc.lehigh.edu/whisper
      ALPACA_DERIVATIVE_OCRPDF_URL: https://isle-microservices.cc.lehigh.edu/ocrpdf
      ALPACA_DERIVATIVE_HTR_URL: https://isle-microservices.cc.lehigh.edu/openai-htr
      ALPACA_DERIVATIVE_CLEAN_PDF_URL: https://isle-microservices.cc.lehigh.edu/cleanpdf
      ALPACA_DERIVATIVE_TN_WARC_URL: https://isle-microservices.cc.lehigh.edu/warc
      ALPACA_DERIVATIVE_TN_ZIP_URL: https://isle-microservices.cc.lehigh.edu/zip
      ALPACA_DERIVATIVE_COVERPAGE_URL: https://isle-microservices.cc.lehigh.edu/coverpage
      ALPACA_DERIVATIVE_MERGEPDF_URL: https://isle-microservices.cc.lehigh.edu/mergepdf
      ROLLOUT: 20260207
    secrets:
      - source: ALPACA_JMS_PASSWORD
      - source: CERT_AUTHORITY
        target: CERT_PUBLIC_KEY
    volumes:
      - ./tmp/alpaca:/tmp:rw
      - ./conf/alpaca/alpaca.properties.tmpl:/etc/confd/templates/alpaca.properties.tmpl:r
      - ./conf/alpaca/cacert-import.sh:/etc/s6-overlay/scripts/cacert-import.sh
      - ./certs/lehigh.pem:/usr/local/share/ca-certificates/lehigh.pem:r
    depends_on:
      activemq:
        condition: service_healthy
  fabricator:
    image: ghcr.io/lehigh-university-libraries/fabricator:main@sha256:2148df1705844f699fe452534a7f004f9882222410a9aaa1b048c849efbfa75e
    environment:
      FABRICATOR_DATA_MOUNT: /data
      SHARED_SECRET: ${FABRICATOR_SHARED_SECRET}
    healthcheck:
      test: curl -s http://localhost:8080/healthcheck | grep OK
      start_period: 1s
  mariadb:
    image: islandora/mariadb:6.3.5@sha256:39e64c9a83b193a51a55143684098d921dd45a1e3b154da6d53a46d6a2b22c03
    environment:
      MYSQL_MAX_ALLOWED_PACKET: 512000000
      MYSQL_TRANSACTION_ISOLATION: READ-COMMITTED
    secrets:
      - source: DB_ROOT_PASSWORD
    healthcheck:
      test: test /run/mysqld/mysqld.sock
      start_period: 5s
    volumes:
      - ./conf/mariadb/mariadb-server.cnf:/etc/my.cnf.d/mariadb-server.cnf:r
      - mariadb-data:/var/lib/mysql:Z,rZ
  activemq:
    image: islandora/activemq:6.3.5@sha256:e6951f95fb211f30b099b596b09757f0891502752b83efa7623d57e071a607f7
    secrets:
      - source: ACTIVEMQ_PASSWORD
      - source: ACTIVEMQ_WEB_ADMIN_PASSWORD
    volumes:
      - activemq-data:/opt/activemq/data:Z,rw
      - ./tmp/activemq:/tmp:rw
      - ./conf/activemq/activemq.xml:/opt/activemq/conf/activemq.xml:r
    healthcheck:
      start_period: 5s
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
  cantaloupe:
    image: islandora/cantaloupe:6.3.5@sha256:6923bfcaa8c1408eb3c3b5ee093553a46bdd87bdaab0e2c0bdf68700b61108d5
    environment:
      CANTALOUPE_LOG_APPLICATION_LEVEL: info
      CANTALOUPE_HTTPSOURCE_CHUNKING_ENABLED: "false"
      CANTALOUPE_CACHE_SERVER_DERIVATIVE_ENABLED: "true"
      CANTALOUPE_CACHE_SERVER_DERIVATIVE: "FilesystemCache"
    secrets:
      - source: CERT_AUTHORITY
        target: CERT_PUBLIC_KEY
    healthcheck:
      start_period: 5s
    volumes:
      - /opt/islandora/volumes/cantaloupe-data:/data:rw
      - /opt/islandora/volumes/tmp/cantaloupe:/tmp:rw
  memcached:
    image: memcached:1.6.40@sha256:cc523a19da58864f1e6ddefab6df7b807f9f82252e0b1cc71260967a34ffc416
    command: memcached -m 2048 -I 5m
    healthcheck:
      test: >
        bash -c "echo stats | (exec 3<>/dev/tcp/localhost/11211; cat >&3; timeout 0.1 cat <&3; exec 3<&-) | grep pid"
      start_period: 3s
  drupal: &drupal
    image: ghcr.io/lehigh-university-libraries/isle-preserve:${DRUPAL_DOCKER_TAG}
    environment: &drupal-environment
      DEVELOPMENT_ENVIRONMENT: ${DEVELOPMENT_ENVIRONMENT:-false}
      DRUPAL_DEFAULT_BROKER_URL: "tcp://activemq:61613"
      DRUPAL_DEFAULT_CANTALOUPE_URL: ${URI_SCHEME}://${DOMAIN}/cantaloupe/iiif/2
      DRUPAL_DEFAULT_CONFIGDIR: "/var/www/drupal/config/sync"
      DRUPAL_DEFAULT_FCREPO_HOST: "fcrepo"
      DRUPAL_DEFAULT_FCREPO_PORT: 8080
      DRUPAL_DEFAULT_FCREPO_URL: http://fcrepo:8080/fcrepo/rest/
      DRUPAL_DEFAULT_INSTALL_EXISTING_CONFIG: "true"
      DRUPAL_DEFAULT_NAME: "Islandora Digital Collections"
      DRUPAL_DEFAULT_PROFILE: "minimal"
      DRUPAL_DEFAULT_SITE_URL: "${DOMAIN}"
      DRUSH_OPTIONS_URI: ${URI_SCHEME}://${DOMAIN}
      NGINX_REAL_IP_RECURSIVE: ${REVERSE_PROXY}
      NGINX_SET_REAL_IP_FROM: ${FRONTEND_IP_1}
      NGINX_SET_REAL_IP_FROM2: ${FRONTEND_IP_2}
      NGINX_SET_REAL_IP_FROM3: ${FRONTEND_IP_3}
      DTT_BASE_URL: "https://${DOMAIN}"
      PHP_POST_MAX_SIZE: "100G"
      PHP_UPLOAD_MAX_FILESIZE: "100G"
      PHP_MEMORY_LIMIT: "1G"
      NGINX_CLIENT_BODY_TIMEOUT: 3600s
      NGINX_FASTCGI_CONNECT_TIMEOUT: 3600s
      NGINX_FASTCGI_READ_TIMEOUT: 3600s
      NGINX_FASTCGI_SEND_TIMEOUT: 3600s
      NGINX_KEEPALIVE_TIMEOUT: 3600s
      NGINX_LINGERING_TIMEOUT: 50s
      NGINX_PROXY_CONNECT_TIMEOUT: 3600s
      NGINX_PROXY_READ_TIMEOUT: 3600s
      NGINX_PROXY_SEND_TIMEOUT: 3600s
      NGINX_SEND_TIMEOUT: 3600s
      PHP_DEFAULT_SOCKET_TIMEOUT: 3600
      PHP_MAX_EXECUTION_TIME: 3600
      PHP_MAX_INPUT_TIME: 3600
      PHP_PROCESS_CONTROL_TIMEOUT: 3600
      PHP_REQUEST_TERMINATE_TIMEOUT: 3600
      SOLR_HOCR_PLUGIN_PATH: ${SOLR_HOCR_PLUGIN_PATH}
      GOOGLE_APPLICATION_CREDENTIALS: /var/www/drupal/private/secrets/svc.json
      DB_MYSQL_HOST: "mariadb"
      DB_MYSQL_PORT: "3306"
      DRUPAL_DEFAULT_DB_NAME: "drupal_default"
      DRUPAL_DEFAULT_DB_USER: "drupal_default"
      DRUPAL_DEFAULT_SOLR_CORE: "default"
      DRUPAL_DEFAULT_SOLR_HOST: "solr"
      DRUPAL_DEFAULT_SOLR_PORT: 8983
      DRUPAL_DEFAULT_DB_PASSWORD: "${DRUPAL_DEFAULT_DB_PASSWORD}"
      TURNSTILE_SITE_KEY: "${TURNSTILE_SITE_KEY}"
      TURNSTILE_SECRET_KEY: "${TURNSTILE_SECRET_KEY}"
      DRUPAL_DEFAULT_SALT: "${DRUPAL_DEFAULT_SALT}"
      SLACK_WEBHOOK: "${SLACK_WEBHOOK_SUBMISSION}"
      SLACK_WEBHOOK_LIBTECH: "${SLACK_WEBHOOK_LIBTECH}"
      GOOGLE_MAPS_API_KEY: "${GOOGLE_MAPS_API_KEY}"
    secrets:
      - source: ACTIVEMQ_WEB_ADMIN_PASSWORD
      - source: DB_ROOT_PASSWORD
      - source: DRUPAL_DEFAULT_ACCOUNT_PASSWORD
      - source: DRUPAL_DEFAULT_DB_PASSWORD
      - source: DRUPAL_DEFAULT_SALT
      - source: JWT_PRIVATE_KEY
      - source: JWT_PUBLIC_KEY
      - source: CERT_AUTHORITY
        target: CERT_PUBLIC_KEY
    volumes:
      - /opt/islandora/volumes/drupal-public-files:/var/www/drupal/web/sites/default/files:rw
      - /opt/islandora/volumes/drupal-private-files:/var/www/drupal/private:rw
      - /opt/islandora/volumes/fcrepo-data/home/data/ocfl-root:/fcrepo:r
      - drupal-solr-config:/opt/solr/server/solr/default:z,rw
      - ./conf/php-fpm/www.conf:/etc/confd/templates/www.conf.tmpl:r
      - ./conf/nginx/drupal.fpm.conf.tmpl:/etc/confd/templates/drupal.fpm.conf.tmpl:r
      - ./conf/nginx/drupal.defaults.conf:/etc/nginx/shared/drupal.defaults.conf:r
      - ./conf/nginx/types.conf:/etc/nginx/http.d/types.conf:r
    healthcheck:
      interval: 60s
      timeout: 30s
      retries: 5
      start_period: 5s
    depends_on:
      mariadb:
        condition: service_healthy
      solr:
        condition: service_healthy
      memcached:
        condition: service_healthy
  drupal-lehigh: *drupal
  drupal-static:
    image: nginx:1.29.5@sha256:341bf0f3ce6c5277d6002cf6e1fb0319fa4252add24ab6a0e262e0056d313208
    restart: always
    environment:
      ROLLOUT: 20251024
    volumes:
      - /opt/islandora/volumes/drupal-private-files/canonical/$DOMAIN/0:/usr/share/nginx/drupal:ro
      - /opt/islandora/volumes/drupal-private-files/iiif/$DOMAIN/294de3557d9d00b3d2d8a1e6aab028cf:/usr/share/nginx/iiif:ro
      - ./tmp/drupal/web:/var/www/drupal/web:rw
      - /opt/islandora/volumes/drupal-public-files:/var/www/drupal/web/sites/default/files:ro
      - ./conf/nginx.static:/etc/nginx/conf.d:ro
      - /opt/islandora/volumes/tmp/drupal-static:/tmp:rw
      - /opt/islandora/volumes/tmp/nginx-static:/var/lib/nginx/tmp:rw
      - /opt/islandora/volumes/tmp/nginx-static-cache:/var/cache/nginx:rw
    healthcheck:
      test: curl -sfo /dev/null http://localhost/themes/custom/lehigh/favicon.ico
      start_period: 5s
  drupal-cron:
    image: ghcr.io/lehigh-university-libraries/isle-preserve:${DRUPAL_DOCKER_TAG}
    entrypoint: /bin/bash
    command: /var/www/drupal/scripts/cron.sh
    environment:
      <<: [*drupal-environment]
    secrets:
      - source: ACTIVEMQ_WEB_ADMIN_PASSWORD
      - source: DB_ROOT_PASSWORD
      - source: DRUPAL_DEFAULT_ACCOUNT_PASSWORD
      - source: DRUPAL_DEFAULT_DB_PASSWORD
      - source: DRUPAL_DEFAULT_SALT
      - source: JWT_PRIVATE_KEY
      - source: JWT_PUBLIC_KEY
      - source: CERT_AUTHORITY
        target: CERT_PUBLIC_KEY
    volumes:
      - /opt/islandora/volumes/drupal-public-files:/var/www/drupal/web/sites/default/files:rw
      - /opt/islandora/volumes/drupal-private-files:/var/www/drupal/private:rw
      - /opt/islandora/volumes/fcrepo-data/home/data/ocfl-root:/fcrepo:r
      - drupal-solr-config:/opt/solr/server/solr/default:z,rw
      - ./tmp/drupal:/tmp:rw
    healthcheck:
      test: ps aux | grep -q "/var/www/drupal/scripts/cron.sh"
      start_period: 1s
    depends_on:
      drupal:
        condition: service_healthy
  fcrepo:
    image: islandora/fcrepo6:6.3.5@sha256:33f83c2a609b6808dbab5247a5c5b29347d89b592a9a4d6c8fd05873a8264c40
    environment:
      FCREPO_ALLOW_EXTERNAL_DEFAULT: "http://default/"
      FCREPO_ALLOW_EXTERNAL_DRUPAL: "https://${DOMAIN}/"
      FCREPO_PERSISTENCE_TYPE: "mysql"
      DB_HOST: mariadb
      DB_PORT: 3306
      TOMCAT_CATALINA_OPTS: "-Dfcrepo.session.timeout=600000"
    secrets:
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY
      - source: DB_ROOT_PASSWORD
      - source: FCREPO_DB_PASSWORD
    healthcheck:
      start_period: 5s
    volumes:
      - /opt/islandora/volumes/fcrepo-data:/data:rw
      - ./tmp/fcrepo:/tmp:rw
    depends_on:
      activemq:
        condition: service_started
  init:
    entrypoint: /scripts/init-entrypoint.sh
    image: islandora/base:6.3.5@sha256:a5e3d05be8f603a32bc1c3b06c052c5c8f01f269ce013405ef3cb41034d43bfa
    networks:
      default:
    profiles:
      - none
    restart: "no"
    security_opt:
      - label=type:container_runtime_t
    volumes:
      - ./.env:/.env
      - ./certs:/certs:rw
      - ./secrets:/secrets:rw
      - ./scripts/isle:/scripts:ro
      - ./docker-compose.yaml:/docker-compose.yml:ro
      - ./drupal:/drupal:rw
      - /var/run/docker.sock:/var/run/docker.sock:z

  solr:
    image: islandora/solr:6.3.5@sha256:1d245a1406decbff2df6b029665359008a7092f84e78aec11e519b02b569e0b4
    volumes:
      - solr-data:/opt/solr/server/solr/default/data:Z,rw
      - type: volume
        source: drupal-solr-config
        target: /opt/solr/server/solr/default
        read_only: false
        volume:
          nocopy: true
    healthcheck:
      start_period: 5s
  rollout:
    image: ghcr.io/lehigh-university-libraries/rollout:0.5.17@sha256:07ed99b704a06419d60cee01f16a065727237fefc57c0c8e9ca1bcfad7c7ea87
    restart: always
    volumes:
      - /opt/islandora/d10_lehigh_agile:/opt/islandora/d10_lehigh_agile
      - /opt/islandora/d10_lehigh_agile/scripts/maintenance/rollout.sh:/rollout.sh:ro
      - /home/rollout/.ssh:/root/.ssh
      - /home/rollout/.gitconfig:/root/.gitconfig
      - /home/rollout/.docker:/root/.docker
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      JWKS_URI: "https://token.actions.githubusercontent.com/.well-known/jwks"
      JWT_AUD: "https://github.com/lehigh-university-libraries"
      ROLLOUT_LOCK_FILE: /opt/islandora/d10_lehigh_agile/rollout.lock
    healthcheck:
      start_period: 1s
  traefik:
    image: traefik:v3.6.7@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
    restart: always
    command: >-
      --api.insecure=true
      --api.dashboard=true
      --api.debug=true
      --ping=true
      --entryPoints.http.address=:80
      --entryPoints.http.forwardedHeaders.trustedIPs=${FRONTEND_IP_1},${FRONTEND_IP_2},${FRONTEND_IP_3}
      --entryPoints.http.transport.respondingTimeouts.readTimeout=3600
      --entryPoints.https.address=:443
      --entryPoints.https.forwardedHeaders.trustedIPs=${FRONTEND_IP_1},${FRONTEND_IP_2},${FRONTEND_IP_3}
      --entryPoints.https.transport.respondingTimeouts.readTimeout=3600
      --providers.file.directory=/etc/traefik/dynamic
      --providers.file.watch=true
      --providers.docker=true
      --providers.docker.network=default
      --providers.docker.exposedByDefault=false
      --experimental.localPlugins.captcha-protect.modulename=github.com/libops/captcha-protect
      --log.format=json
      --log.level=DEBUG
    environment:
      rollout: 20251027
      DOMAIN: ${DOMAIN}
      INTERNAL_DOMAIN: ${INTERNAL_DOMAIN}
      ROLLOUT_DEPTH: ${ROLLOUT_DEPTH}
      TURNSTILE_SITE_KEY: ${TURNSTILE_SITE_KEY}
      TURNSTILE_SECRET_KEY: ${TURNSTILE_SECRET_KEY}
      EXEMPT_USER_AGENTS: "${EXEMPT_USER_AGENTS}"
      URI_SCHEME: ${URI_SCHEME:-https}
      DEVELOPMENT_ENVIRONMENT: "${DEVELOPMENT_ENVIRONMENT:-false}"
    ports:
      - "${HOST_INSECURE_PORT:-80}:80"
      - "${HOST_SECURE_PORT:-443}:443"
    security_opt:
      - label=type:container_runtime_t # Required for selinux to access the docker socket.
    volumes:
      - ./conf/traefik/plugins/captcha-protect:/plugins-local/src/github.com/libops/captcha-protect:r
      - ./certs:/etc/ssl/traefik:Z,ro
      - ./conf/traefik:/etc/traefik/dynamic:ro
      - ./tmp/traefik:/tmp:rw
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/traefik/challenge.tmpl.html:/challenge.tmpl.html:ro
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
    healthcheck:
      test: traefik healthcheck --ping
      start_period: 5s
    networks:
      default:
        aliases:
          - ${DOMAIN}
    secrets:
      - source: CERT_PRIVATE_KEY
      - source: CERT_PRIVATE_KEY
