services:
  alpaca:
    environment:
      ALPACA_MAX_REDELIVERIES: 1
      ALPACA_DERIVATIVE_HOUDINI_CONSUMERS: 3
      ALPACA_DERIVATIVE_HOUDINI_URL: http://houdini:8080
      ALPACA_DERIVATIVE_LIBREOFFICE_URL: http://libreoffice:8080
      ALPACA_DERIVATIVE_MERGEPDF_URL: http://mergepdf:8080
      ALPACA_DERIVATIVE_COVERPAGE_URL: http://coverpage:8080
  coverpage:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-coverpage:main@sha256:ffeaa66ff20c497f642e774089381c081cd22795e3e61eed6b703d9d5eaff824
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    volumes:
      - ./certs/rootCA.pem:/app/ca.pem:r
  mergepdf:
    image: islandora/mergepdf:6.3.3@sha256:b338684982d46c2a00215f7b70fd7a37cae5619da097fddc72d251ebb125716f
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
      MAX_THREADS: 3
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_PUBLIC_KEY
  libreoffice:
    image: ghcr.io/lehigh-university-libraries/scyllaridae-libreoffice:main@sha256:2714be39483a38b5a5d6bb07bd87f58b10b7cc9416836c869c3e3f2198731001
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_PUBLIC_KEY
  houdini:
    image: islandora/houdini:6.3.3@sha256:b42fffae44fe1ef5d2f0c1f6344573ff111c3490d57a8dca8423db16ef348f18
    environment:
      JWKS_URI: https://${DOMAIN}/oauth/discovery/keys
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_PUBLIC_KEY
    volumes:
      - ./tmp/houdini:/tmp:rw
  mariadb:
    image: mariadb:11.8.3-noble@sha256:272084c2dec70619714df329c4ffcb336e3f8c723072c3f56f2e4015997bbf2c
    secrets:
      - source: DB_ROOT_PASSWORD
        target: MARIADB_ROOT_PASSWORD
    healthcheck:
      test: test /run/mysqld/mysqld.sock
  github-actions-runner:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    environment:
      GITHUB_RUNNER_TOKEN: ${GITHUB_RUNNER_TOKEN}
      GITHUB_REPO: "https://github.com/lehigh-university-libraries/isle-preserve"
      LABELS: isle
      KUBECONFIG: /etc/kubeconfigs/ci.yaml
    volumes:
      - actions-runner-data:/app:rw
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/kubeconfigs:/etc/kubeconfigs:r
  gha-runner-updater:
    image: ghcr.io/lehigh-university-libraries/actions-runner:main
    working_dir: /app
    entrypoint: /bin/sh
    command: -c "while true; do /app/scripts/ci/update-gha.sh; sleep 600; done"
    environment:
      KUBECONFIG: /etc/kubeconfigs/ci.yaml
      KUBE_SVC_ACCOUNT: isle-ci
      KUBE_NAMESPACE: islandora-metadata
      KUBE_CA_CERT_FILE: /run/secrets/KUBE_CA_CERT
      KUBE_SERVER_URL: ${KUBE_SERVER_URL}
    secrets:
      - KUBE_CA_CERT
    volumes:
      - ./:/app
      - /home/rollout/.docker:/root/.docker
      - /home/rollout/.env:/home/rollout/.env
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/kubeconfigs:/etc/kubeconfigs:rw
secrets:
  KUBE_CA_CERT:
    file: ./certs/kube.base64.pem
