/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/*
!/web/libraries/chosen
!/web/libraries/link
!/web/libraries/fakeobjects
!/web/libraries/jquery-ui-slider-pips
/web/sites/*/settings.local.php
/web/sites/*/files/
/.env
.editorconfig
.gitattributes
*.[oa]
*~
*.DS_*
*._.
*.DS_
*._.*
*.swp
\#*\#
.\#*
.sass_cache/
node_modules/
links.xml
