[Unit]
Description=Monitor docker health
After=docker.service
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
EnvironmentFile=/home/rollout/.env
ExecStart=/home/rollout/docker-autoheal \
  --webhook-url "$SLACK_WEBHOOK" \
  --webhook-key "msg" \
  --lock-file "/opt/islandora/d10_lehigh_agile/rollout.lock"
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
