---
apiVersion: v1
kind: Service
metadata:
  name: islandora-cleanpdf
spec:
  selector:
    app: islandora-cleanpdf
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-cleanpdf
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-cleanpdf
  template:
    metadata:
      labels:
        app: islandora-cleanpdf
    spec:
      containers:
        - name: scyllaridae-cleanpdf
          image: ghcr.io/lehigh-university-libraries/scyllaridae-cleanpdf:main@sha256:0b96293832471d27b2a6f5aa37306691d551d9f2f6c5737484a482052129b05a
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "1Gi"
          ports:
            - containerPort: 8080
              hostPort: 8081
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
