---
apiVersion: v1
kind: Service
metadata:
  name: islandora-coverpage
spec:
  selector:
    app: islandora-coverpage
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-coverpage
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-coverpage
  template:
    metadata:
      labels:
        app: islandora-coverpage
    spec:
      containers:
        - name: scyllaridae-coverpage
          image: lehighlts/scyllaridae-coverpage:main@sha256:2317c7e0c863e39130ea74cfb52ed7c9d53fe1027ede4e9c8805789dc5439a4e
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "128Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
          ports:
            - containerPort: 8080
              hostPort: 8082
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
