---
apiVersion: v1
kind: Service
metadata:
  name: islandora-crayfits
spec:
  selector:
    app: islandora-crayfits
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-crayfits
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-crayfits
  template:
    metadata:
      labels:
        app: islandora-crayfits
    spec:
      volumes:
        - name: islandora-prod-ca
          configMap:
            name: islandora-prod-ca
            items:
              - key: islandora-prod.pem
                path: ca.pem
      containers:
        - name: scyllaridae-crayfits
          image: islandora/crayfits:6.3.5@sha256:1e4a8e402a578b7b1e2d0fcdc573537d129e46be9942cd5720bf3d4dc082e2c6
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: "FITS_URI"
              value: "http://fits:8084/fits/examine"
          resources:
            requests:
              memory: "12Gi"
              cpu: "100m"
            limits:
              memory: "12Gi"
          ports:
            - containerPort: 8080
              hostPort: 8083
          volumeMounts:
            - name: islandora-prod-ca
              mountPath: /app/ca.pem
              subPath: ca.pem
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
