---
apiVersion: v1
kind: Service
metadata:
  name: fits
spec:
  selector:
    app: fits
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fits
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fits
  template:
    metadata:
      labels:
        app: fits
    spec:
      containers:
        - name: fits
          image: islandora/fits:6.3.3@sha256:7d9a419253d61d6f4568406423fcb23fb5be6a1ea790f3c5f981d5397c387027
          imagePullPolicy: IfNotPresent
          env:
            - name: FITS_MAX_REQUEST_SIZE
              value: "100000"
            - name: FITS_MAX_UPLOAD_FILE_SIZE
              value: "100000"
          resources:
            requests:
              memory: "8Gi"
              cpu: "250m"
            limits:
              memory: "8Gi"
          ports:
            - containerPort: 8080
              hostPort: 8084
          readinessProbe:
            httpGet:
              path: /fits/version
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
