---
apiVersion: v1
kind: Service
metadata:
  name: islandora-hls
spec:
  selector:
    app: islandora-hls
  ports:
    - protocol: TCP
      port: 8085
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-hls
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-hls
  template:
    metadata:
      labels:
        app: islandora-hls
    spec:
      volumes:
        - name: islandora-prod-ca
          configMap:
            name: islandora-prod-ca
            items:
              - key: islandora-prod.pem
                path: ca.pem
      containers:
        - name: scyllaridae-hls
          image: ghcr.io/lehigh-university-libraries/scyllaridae-hls:main@sha256:20e77193149caaa9390e334e538f5da954a141e2fef8dc359a93a9f4b5ffe648
          imagePullPolicy: IfNotPresent
          env:
          - name: "JWKS_URI"
            value: "https://preserve.lehigh.edu/oauth/discovery/keys"
          resources:
            requests:
              memory: "4Gi"
              cpu: "250m"
            limits:
              memory: "4Gi"
          ports:
            - hostPort: 8085
              containerPort: 8080
          volumeMounts:
            - name: islandora-prod-ca
              mountPath: /app/ca.pem
              subPath: ca.pem
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
