---
apiVersion: v1
kind: Service
metadata:
  name: islandora-ffmpeg
spec:
  selector:
    app: islandora-ffmpeg
  ports:
    - protocol: TCP
      port: 8086
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-ffmpeg
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-ffmpeg
  template:
    metadata:
      labels:
        app: islandora-ffmpeg
    spec:
      containers:
        - name: scyllaridae-ffmpeg
          image: islandora/homarus:6.3.6@sha256:6cad17174178aaf38e9bc8013bc05d3d9a2e18138d1ea1f53a2cec899905c232
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "16Gi"
              cpu: "500m"
            limits:
              memory: "16Gi"
          ports:
            - hostPort: 8086
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
