---
apiVersion: v1
kind: Service
metadata:
  name: islandora-ffmpeg
spec:
  selector:
    app: islandora-ffmpeg
  ports:
    - protocol: TCP
      port: 8086
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-ffmpeg
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-ffmpeg
  template:
    metadata:
      labels:
        app: islandora-ffmpeg
    spec:
      containers:
        - name: scyllaridae-ffmpeg
          image: lehighlts/scyllaridae-ffmpeg:main@sha256:f739642cb9835e9483bd9a873d30e054875a10e9532553791a5b2c50807f2427
          imagePullPolicy: IfNotPresent
          env:
          - name: "JWKS_URI"
            value: "https://preserve.lehigh.edu/oauth/discovery/keys"
          resources:
            requests:
              memory: "128Mi"
              cpu: "500m"
            limits:
              memory: "4Gi"
          ports:
            - hostPort: 8086
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
