---
apiVersion: v1
kind: Service
metadata:
  name: islandora-ffmpeg
spec:
  selector:
    app: islandora-ffmpeg
  ports:
    - protocol: TCP
      port: 8086
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-ffmpeg
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-ffmpeg
  template:
    metadata:
      labels:
        app: islandora-ffmpeg
    spec:
      volumes:
        - name: islandora-prod-ca
          configMap:
            name: islandora-prod-ca
            items:
              - key: islandora-prod.pem
                path: ca.pem
      containers:
        - name: scyllaridae-ffmpeg
          image: islandora/homarus:6.3.3@sha256:5dc1152dad3f9ca91aa1743d0c3a825ce7e6107ec8aadf2ec6b457b75b1a9039
          imagePullPolicy: IfNotPresent
          env:
          - name: "JWKS_URI"
            value: "https://preserve.lehigh.edu/oauth/discovery/keys"
          resources:
            requests:
              memory: "16Gi"
              cpu: "500m"
            limits:
              memory: "16Gi"
          ports:
            - hostPort: 8086
              containerPort: 8080
          volumeMounts:
            - name: islandora-prod-ca
              mountPath: /app/ca.pem
              subPath: ca.pem
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
