---
apiVersion: v1
kind: Service
metadata:
  name: islandora-imagemagick
spec:
  selector:
    app: islandora-imagemagick
  ports:
    - protocol: TCP
      port: 8087
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-imagemagick
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-imagemagick
  template:
    metadata:
      labels:
        app: islandora-imagemagick
    spec:
      volumes:
        - name: islandora-prod-ca
          configMap:
            name: islandora-prod-ca
            items:
              - key: islandora-prod.pem
                path: ca.pem
      containers:
        - name: scyllaridae-imagemagick
          image: islandora/houdini:6.3.3@sha256:b42fffae44fe1ef5d2f0c1f6344573ff111c3490d57a8dca8423db16ef348f18
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
          resources:
            requests:
              memory: "32Gi"
              cpu: "100m"
            limits:
              memory: "32Gi"
          ports:
            - containerPort: 8080
              hostPort: 8087
          volumeMounts:
            - name: islandora-prod-ca
              mountPath: /app/ca.pem
              subPath: ca.pem
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
