---
apiVersion: v1
kind: Service
metadata:
  name: islandora-imagemagick
spec:
  selector:
    app: islandora-imagemagick
  ports:
    - protocol: TCP
      port: 8087
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-imagemagick
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-imagemagick
  template:
    metadata:
      labels:
        app: islandora-imagemagick
    spec:
      containers:
        - name: scyllaridae-imagemagick
          image: islandora/houdini:6.3.7@sha256:60966b37106e57aeb487b0374979b3eb10d49dd5766da6bb96aa98f99032443b
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "32Gi"
              cpu: "100m"
            limits:
              memory: "32Gi"
          ports:
            - containerPort: 8080
              hostPort: 8087
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
