---
apiVersion: v1
kind: Service
metadata:
  name: islandora-openai-htr
spec:
  selector:
    app: islandora-openai-htr
  ports:
    - protocol: TCP
      port: 8088
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-openai-htr
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-openai-htr
  template:
    metadata:
      labels:
        app: islandora-openai-htr
    spec:
      containers:
        - name: scyllaridae-htr
          image: ghcr.io/lehigh-university-libraries/scyllaridae-openai-htr:main@sha256:00f00c3e4eb62f677a57a79e81b8c25733f859a3303fd200ec76c35127de50a8
          imagePullPolicy: IfNotPresent
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: openai
                  key: api-key
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "2Gi"
              cpu: "250m"
            limits:
              memory: "2Gi"
          ports:
            - hostPort: 8088
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
