---
apiVersion: v1
kind: Service
metadata:
  name: islandora-tesseract
spec:
  selector:
    app: islandora-tesseract
  ports:
    - protocol: TCP
      port: 8089
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-tesseract

spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-tesseract
  template:
    metadata:
      labels:
        app: islandora-tesseract
    spec:
      containers:
        - name: scyllaridae-tesseract
          image: islandora/hypercube:6.3.7@sha256:8b4b396fcce5dbc9a52d1d5980ef2dce5c2453289c151d873aecc14267f889c1
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "4Gi"
              cpu: "250m"
            limits:
              memory: "4Gi"
          ports:
            - hostPort: 8089
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
