---
apiVersion: v1
kind: Service
metadata:
  name: islandora-libreoffice
spec:
  selector:
    app: islandora-libreoffice
  ports:
    - protocol: TCP
      port: 8090
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-libreoffice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-libreoffice
  template:
    metadata:
      labels:
        app: islandora-libreoffice
    spec:
      containers:
        - name: scyllaridae-libreoffice
          image: ghcr.io/lehigh-university-libraries/scyllaridae-libreoffice:main@sha256:2714be39483a38b5a5d6bb07bd87f58b10b7cc9416836c869c3e3f2198731001
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
          ports:
            - hostPort: 8090
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
