---
apiVersion: v1
kind: Service
metadata:
  name: islandora-mergepdf
spec:
  selector:
    app: islandora-mergepdf
  ports:
    - protocol: TCP
      port: 8091
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-mergepdf
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-mergepdf
  template:
    metadata:
      labels:
        app: islandora-mergepdf
    spec:
      containers:
        - name: scyllaridae-mergepdf
          image: islandora/mergepdf:6.3.7@sha256:7934622044b8121a79bdb179f96882e20fb3970b041c0cfc35d73b995f0e79e6
          imagePullPolicy: IfNotPresent
          env:
            - name: MAX_THREADS
              value: "7"
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "24Gi"
              cpu: "500m"
            limits:
              memory: "24Gi"
          ports:
            - containerPort: 8080
              hostPort: 8091
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
