---
apiVersion: v1
kind: Service
metadata:
  name: islandora-ocrpdf
spec:
  selector:
    app: islandora-ocrpdf
  ports:
    - protocol: TCP
      port: 8092
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-ocrpdf
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-ocrpdf
  template:
    metadata:
      labels:
        app: islandora-ocrpdf
    spec:
      containers:
        - name: scyllaridae-ocrpdf
          image: ghcr.io/lehigh-university-libraries/scyllaridae-ocrpdf:main@sha256:298443cb3d14b1672d0e3bc3eb7be615c5c384316131a9c653d37d6a0c47326d
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
          ports:
            - containerPort: 8080
              hostPort: 8092
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
