---
apiVersion: v1
kind: Service
metadata:
  name: islandora-tn-warc
spec:
  selector:
    app: islandora-tn-warc
  ports:
    - protocol: TCP
      port: 8095
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-tn-warc
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-tn-warc
  template:
    metadata:
      labels:
        app: islandora-tn-warc
    spec:
      containers:
        - name: scyllaridae-tn-warc
          image: ghcr.io/lehigh-university-libraries/scyllaridae-tn-warc:main@sha256:54cd6d14a6ad6836a20bdfe476e1a0764086b8267b5b59e31a57773e2c35627b
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
          ports:
            - containerPort: 8080
              hostPort: 8095
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
