---
apiVersion: v1
kind: Service
metadata:
  name: islandora-tn-zip
spec:
  selector:
    app: islandora-tn-zip
  ports:
    - protocol: TCP
      port: 8096
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-tn-zip
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-tn-zip
  template:
    metadata:
      labels:
        app: islandora-tn-zip
    spec:
      containers:
        - name: scyllaridae-tn-zip
          image: ghcr.io/lehigh-university-libraries/scyllaridae-tn-zip:main@sha256:055646fad9015cf029c7c1c0ee5d8fcf16ab6446301e9f305290cee4bfc29a69
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
            - name: CERT_PUBLIC_KEY
              valueFrom:
                configMapKeyRef:
                  name: islandora-prod-ca
                  key: islandora-prod.pem
          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
          ports:
            - containerPort: 8080
              hostPort: 8096
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
