---
apiVersion: v1
kind: Service
metadata:
  name: islandora-tn-zip
spec:
  selector:
    app: islandora-tn-zip
  ports:
    - protocol: TCP
      port: 8096
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: islandora-tn-zip
spec:
  replicas: 3
  selector:
    matchLabels:
      app: islandora-tn-zip
  template:
    metadata:
      labels:
        app: islandora-tn-zip
    spec:
      volumes:
        - name: islandora-prod-ca
          configMap:
            name: islandora-prod-ca
            items:
              - key: islandora-prod.pem
                path: ca.pem
      containers:
        - name: scyllaridae-tn-zip
          image: ghcr.io/lehigh-university-libraries/scyllaridae-tn-zip:main@sha256:c9b19e21ce5a110b20b5964d4f19f822a1afb734c630e518945b552b75a173c9
          imagePullPolicy: IfNotPresent
          env:
            - name: "JWKS_URI"
              value: "https://preserve.lehigh.edu/oauth/discovery/keys"
          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
          ports:
            - containerPort: 8080
              hostPort: 8096
          volumeMounts:
            - name: islandora-prod-ca
              mountPath: /app/ca.pem
              subPath: ca.pem
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
