name: deploy
on:
  workflow_dispatch:
    inputs:
      url:
        description: "Rollout URL"
        type: string
        default: https://islandora-test.lib.lehigh.edu/_rollout
  workflow_call:
    inputs:
      url:
        description: "Rollout URL"
        type: string
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  run:
    runs-on: [self-hosted, isle]
    steps:
      - name: validate input
        run: |
          regex='^https://[A-Za-z0-9\.\-]+\/_rollout$'
          if [[ "${{ inputs.url }}" =~ $regex ]] || [[ "${{ github.event.inputs.url }}" =~ $regex ]]; then
            echo "Valid URL"
          else
            echo "Invalid URL"
            exit 1
          fi

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: determine input source
        id: set_url
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "url=${{ github.event.inputs.url }}" >> $GITHUB_OUTPUT
          else
            echo "url=${{ inputs.url }}" >> $GITHUB_OUTPUT
          fi

      - run: ./scripts/ci/trigger-rollout.sh
        env:
          ROLLOUT_URL: "${{ steps.set_url.outputs.url }}"
