name: deploy-microservices
on:
  push:
    branches:
      - main
    paths:
      - "ci/k8s/*.yaml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy-prod:
    runs-on: [self-hosted, isle]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: rollout
        run: |
          export KUBECONFIG=/etc/kubeconfigs/ci.yaml
          kubectl apply -f ./ci/k8s
          kubectl rollout status deployment -w
