name: lint-test-build-push
on:
  workflow_dispatch:
  push:
    branches:
      - "**"
    paths-ignore:
      - "ci/**/*.yaml"
      - "**/*.md"
      - "renovate.json5"

concurrency:
  group: "one-job-at-a-time"
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: ./drupal/Dockerfile
          verbose: true

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: 8.3
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
        working-directory: codebase

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - run: composer install
        working-directory: codebase

      - run: ./scripts/ci/lint.sh

  build-push:
    needs:
      - lint
    name: "docker build+push"
    uses: lehigh-university-libraries/gha/.github/workflows/build-push-ghcr.yaml@main
    with:
      context: drupal
    permissions:
      contents: read
      packages: write
    secrets: inherit

  deploy-test:
    needs:
      - lint
      - build-push
    uses: ./.github/workflows/deploy.yaml
    with:
      url: https://wight.cc.lehigh.edu/_rollout

  test:
    runs-on: [self-hosted, isle]
    needs: [deploy-test]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - run: ./scripts/ci/test.sh
        env:
          DOMAIN: wight.cc.lehigh.edu

      - if: ${{ always() }}
        run: ./scripts/ci/cleanup.sh

  deploy-stage:
    if: github.ref == 'refs/heads/main'
    needs: [test]
    uses: ./.github/workflows/deploy.yaml
    with:
      url: https://islandora-test.lib.lehigh.edu/_rollout
